<?php

require_once __DIR__.'/../vendor/symfony-class-loader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Gaufrette' => __DIR__.'/../src',
    'Zend'      => __DIR__.'/../vendor/zend/library',
));

$loader->register();
