<?php

$connectionString   = 'BlobEndpoint=http://XXXXXXXXXXX.blob.core.windows.net/;AccountName=XXXXXXXXXXXX;AccountKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';

$factory = new Gaufrette\Adapter\AzureBlobStorage\BlobProxyFactory($connectionString);
return new Gaufrette\Adapter\AzureBlobStorage($factory, $containerName, $create);
